# Copier ce fichier en .env et remplir les valeurs

# Backend URL (production Railway)
EXPO_PUBLIC_API_BASE_URL=https://mytruckprojectbackend-production.up.railway.app

# Ou backend local via ngrok
# EXPO_PUBLIC_API_BASE_URL=https://VOTRE-TUNNEL.ngrok-free.app
